@use "../utils/vars";
@use "../utils/mixins";

.header {
    padding: 2em 2rem;
    position: relative;

    &__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0;
        align-items: center;

        @media (max-width: vars.$mediaMobile) {
            &::before {
                content: "";
                @include mixins.position(absolute, 0);
                background-color: vars.$lightBgColor;
                z-index: 1;
            }
        }
    }
}

.navigation {
    position: relative;
    transition: vars.$basicTrans;
    z-index: 0;

    @media (max-width: vars.$mediaMobile) {
        @include mixins.position(absolute, 0);
        top: 84px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100vw;
        height: 100vh;
        z-index: 9;
    }
}

.logo_wrapper {
    z-index: 1;

    a {
        display: block;
    }
}

.logo {
    max-width: 93px;
    max-height: 40px;
    display: block;
    fill: #ffa638;
    transition: vars.$basicTrans;

    &:hover,
    &:focus-visible {
        fill: vars.$darkerBgColor;

        @media (hover: none) {
            fill: #ffa638;
        }
    }
}

.nav-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: vars.$mediaMobile) {
        flex-direction: column;
    }
}

.nav_item {
    a {
        display: block;
        font-size: 0.9rem;
        font-family: Kodchasan;
        font-weight: 500;
        padding: 0 min(20px, 1.5vw);
        transition: vars.$basicTrans;

        @media (max-width: vars.$mediaMobile) {
            padding: min(20px, 3vw) 0;
            font-size: 1.5rem;
        }

        &:hover,
        &:focus-visible {
            color: vars.$hoverLinkColor;

            @media (hover: none) {
                color: vars.$mainTextColor;
            }
        }
    }
}

.nav_item--active {
    a {
        font-weight: 700;
        pointer-events: none;
    }
}

.burger {
    position: relative;
    flex-basis: 25px;
    flex-shrink: 0;
    display: none;
    height: 18px;
    padding: 0;
    outline: none;
    border: none;
    background-color: unset;
    z-index: 1;

    @media (max-width: vars.$mediaMobile) {
        display: block;
    }

    &__mid-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: vars.$darkBgColor;
        border-radius: 20px;
        transition: vars.$basicTrans;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: 20px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: vars.$darkBgColor;
            transition: vars.$basicTrans;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}

@media (max-width: vars.$mediaMobile) {
    .navigation--appear {
        visibility: visible;
        opacity: 1;
        top: 84px;
    }

    .burger--cancel {
        .burger__mid-line {
            width: 0;
            margin-left: 50%;

            &::before {
                transform: translateY(8px) rotateZ(45deg);
            }

            &::after {
                transform: translateY(-8px) rotateZ(-45deg);
            }
        }
    }
}
